<!-- Page Preloder -->

<!-- Header section -->
<header class="header-section">
    <div class="header-top">
      <div class="container">
        <div class="row">
          <div class="col-xl-2 col-md-3 text-lg-center">
            <h3 class="mb-2 pb-0">DIA Mouhamed Sdev# </h3>
          </div>
        </div>
      </div>
    </div>
  </header>

    <nav class="navbar navbar-expand-lg navbar-warning bg-success">
    <a class="navbar-brand" href="#">#DiaStyle</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" ></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/home">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="/produits">Produits</a>
        <a class="nav-item nav-link" href="/types">TypeProduit</a>
        <a class="nav-item nav-link" href="/livraisons">Livraison</a>

      </div>
    </div>
  </nav>

