<div class="container">
    <marquee><h3> <span><i class="fa fa-code"></i></span>Liste des Livraisons </h3></marquee>
    <div class="border">
      <button class="btn btn-md btn-outline-primary">
        <i class="fa fa-user"></i>New Livraison</button>
    </div>
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>Id</th>
        <th>Details</th>
        <th>Date de Livraison</th>
        <th>Type de Produit</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
     <!-- <tr *ngFor="let livraison of livraisons">
        <td><span>{{livraison.id}}</span></td>
        <td><span>{{livraison.details}}</span></td>
        <td><span>{{livraison.datesLivrisons}}</span></td>
        <td><span>{{livraison.typeProduit.nom}}</span></td>

         <td>
          <button class="btn btn-sm btn-info" >
            <i class="fa fa-search"> </i>Details</button>
          <button class="btn btn-sm btn-warning" >
            <i class="fa fa-edit"></i>Edit</button>
          <button class="btn btn-sm btn-danger" >
            <i class="fa fa-remove"></i>Delete</button>
        </td>
      </tr>-->
      </tbody>
    </table>
  </div>
